@import "../../Styles/variables.scss";

.phoneBlock {
  padding: 85px 100px 107px;
  margin-right: 6rem;
  margin-top: 60px;
  background: url("../../assets/img//PhoneEiwa.png") no-repeat right 5%;

  &__textPart {
    width: 528px;

    &__title {
      font-weight: 600;
      font-size: 48px;
      color: $black;
      line-height: 57.6px;
    }

    &__text {
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 40px;
      color: #757b8a;
      line-height: 1.5rem;
    }

    &__link {
      padding: 16px 50px;
      background-color: $brown;
      color: $white;
      text-decoration: none;
      border-radius: 100px;
    }
  }
}
