@import "../../Styles/variables.scss";

.partnersBlock {
  background-color: $primary-pink;

  &__inner {
    padding: 60px 110px;

    &__title {
      font-weight: 700;
      font-size: 48px;
    }
  }

  &__list {
    width: 1000px;
    margin: 0 0 30px 200px;

    &__item {
      border-top: 1px solid #d6d6d6;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 30px 0;

      &__title {
        font-weight: 700;
        font-size: 24px;
        color: $neutral-black;
        margin: 0;
      }

      &__text {
        font-weight: 400;
        font-size: 18px;
        width: 50%;
        margin: 0;
      }
      &:last-child {
        border-bottom: 1px solid #d6d6d6;
      }
    }
  }

  &__btn {
    padding: 16px 32px;
    background-color: $brown;
    border-radius: 100px;
    border: none;
    color: $white;
    margin-left: 700px;
    cursor: pointer;
  }
}
