#footer {
  .container {
    .footer {
      &--block {
        margin-top: 101px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: #fff1ed;
        width: 100%;
        height: 150px;
        &__icons {
          display: flex;
          &--facebook {
            font-size: 20px;
            margin-right: 20px;
          }
          &--twitter {
            font-size: 20px;
            margin-right: 20px;
          }
          &--instagram {
            font-size: 20px;
            margin-right: 20px;
          }
          &--linkedin {
            font-size: 20px;
            margin-right: 20px;
          }
        }
        &__text {
          display: flex;
          h2 {
            cursor: pointer;
            color: #101010;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            margin: 0 30px;
          }
        }
        &__nurichIo {
          color: #101010;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
        }
      }
    }
  }
}
