#instailletProd {
  .container {
    width: 90%;
    margin: 0 auto;
    .instailletProd {
      &--block {
        margin-top: 172px;
        position: relative;
        display: flex;
        border-radius: 16px;
        background: #9b6a63;
        width: 1323px;
        height: 490px;
        &__content {
          margin: 80px;
          h1 {
            width: 645px;
            color: #fff;
            font-family: Inter;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
          }
          p {
            width: 533px;
            color: #ededed;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 160%;
            margin: 16px 0 40px 0;
          }
          &--btns {
            display: flex;
            align-items: center;
            &__btnApple {
              cursor: pointer;
              margin-right: 20px;
              display: flex;
              align-items: center;
              width: 187px;
              height: 60px;
              background: #fff;
              border-radius: 30px;
              &--text {
                margin-left: 10px;
                h6 {
                  margin-bottom: -15px;
                  font-weight: 100;
                  opacity: 0.33;
                }
                h2 {
                  font-family: Inter;
                  font-weight: 100;
                  font-size: 20px;
                }
              }
              &:hover {
                transition: 1s;
                background: #999999;
                h6 {
                  color: #fff;
                }
                h2 {
                  transition: 10ms;
                  color: #ededed;
                }
              }
            }
            &__btnGooglePlay {
              cursor: pointer;
              display: flex;
              align-items: center;
              width: 192px;
              height: 60px;
              background: #fff;
              border-radius: 30px;
              &--text {
                margin-left: 10px;
                h6 {
                  margin-bottom: -15px;
                  font-weight: 100;
                  opacity: 0.33;
                }
                h2 {
                  font-family: Inter;
                  font-weight: 100;
                  font-size: 20px;
                }
              }
              &:hover {
                transition: 1s;
                background: #4285f4;
                h6 {
                  color: #fff;
                }
                h2 {
                  transition: 10ms;
                  color: #ededed;
                }
              }
            }
          }
        }
        &__img {
          &--imgIphone {
            position: absolute;
            right: -23px;
            bottom: 58px;
          }
          &--imgVector {
            position: absolute;
            right: 289px;
            top: 111px;
          }
        }
      }
    }
  }
}
